@font-face {
	font-family: Author;
	font-display: swap;
	src: url("../fonts/Author-Medium.woff2") format("woff2"), url("../fonts/Author-Medium.woff") format("woff");
	font-weight: 494;
	font-style: normal;
}
@font-face {
	font-family: Author;
	font-display: swap;
	src: url("../fonts/Author-Regular.woff2") format("woff2"), url("../fonts/Author-Regular.woff") format("woff");
	font-weight: 375;
	font-style: normal;
}
