.main-screen {
	display: flex;
	@media (max-width: em($breakpoint576)) {
		flex-direction: column;
		height: 100vh;
	}
	&__column {
		flex: 0 1 50%;
		
		&:first-child {
			position: relative;
			width: 50vw;
			height: 100vh;
			@media (max-width: em($breakpoint576)) {
				width: 100vw;
			}
		}
		&:last-child {
			display: flex;
			flex-direction: column;
		}
		@media (max-width: em($breakpoint576)) {
			align-items: center;
		}
	}

	&__background {
		width: 100%;
		height: 100%;
	}

	&__logo {
		margin-bottom: 88px;
		@media (max-width: em($breakpoint576)) {
			margin-bottom: 30px;
		}
	}

	&__title-block {
		margin-bottom: 40px;
	}

	&__button {
		// max-width: 250px;
		margin-bottom: 10px;
	}

	&__sign-in {
		display: flex;
		margin-top: auto;
		column-gap: 5px;
		align-items: center;
	}

	&__text-footer {
	}

	&__link-footer {
	}
	
	*:last-child {
		margin-bottom: 0;
	}
}
