// Библиотеки
@use 'sass:math';

// Подключаемые шрифты
@import "fonts/fonts";

// Функции
@import 'base/functions';

// Шрифт по умолчанию
$fontFamily: "Author";

// Переменные
$minWidth: 375;
$maxWidth: 1440;
$containerWidth: 1520; // Вписываем ширину контейнера как она есть
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1400: 1339.98;
$breakpoint1200: 1199.98;
$breakpoint992: 991.98;
$breakpoint768: 767.98;
$breakpoint576: 575.98;
$breakpoint480: 479.98;
$breakpoint375: 374.98; 

// Размеры
$fz-xs: 18px;
$fz-s: 20px;
$fz-m: 22px;
$fz-l: 25px;
$fz-xl: 50px;

// Строчный интервал
$l-h-1: 20px; 
$l-h-2: 22px; 
$l-h-3: 24px; 
$l-h-4: 25px; 
$l-h-5: 28px; 
$l-h-6: 56px; 

// Размер шрифта
$fw-r: 375;
$fw-m: 494;

// colors
$color-gray-500: #747887;
$color-gray-200: #E5E4E1;
$color-gray-50: #F3F6F9;
$color-white: #FFFFFF;
$color-brown: #C35B48;
$color-blue: #051655;
$color-red: #EB3D35;

// Обнуление, общие параметры
@import 'base/null';
@import 'base/mixins';
@import 'libs/libs';

// Оболочка
body {
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// Основная сетка
.container {
	max-width: ($containerWidth + $containerPadding) + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 ($containerSidePadding + px);

	@media (max-width: em($breakpoint1400)) {
		max-width: rem(1100);
	}

	@media (max-width: em($breakpoint992)) {
		max-width: rem(970);
	}

	@media (max-width: em($breakpoint768)) {
		max-width: rem(750);
	}

	@media (max-width: em($breakpoint480)) {
		max-width: none;
	}

	&--small {
		max-width: (760 + $containerPadding) + px;
		margin: 0;
		@media (min-width: em($breakpoint992)) {
			padding-left: 100px;
			padding-right: 100px;
		}
	}
}

.vertical-indent {
	&--xs {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&--s {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	&--m {
		padding-top: 68px;
		padding-bottom: 61px;
	}
	&--l {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&--xl {
		padding-top: 0px;
		padding-bottom: 0px;

	}
	@media (max-width: em($breakpoint576)) {
		&--s {
			padding-top: 20px;
			padding-bottom: 25px;
		}
		&--m {
			padding-top: 34px;
			padding-bottom: 30px;
		}
	}
}

// классы для вставки 
// vertical-indent vertical-indent--xs
// vertical-indent vertical-indent--s
// vertical-indent vertical-indent--m
// vertical-indent vertical-indent--l
// vertical-indent vertical-indent--xl

// Подключение файлов/стилей/страниц и элементов

@import "base/ui";
@import "common";
@import "home";
@import "form";

// Основные элементы
// Пример: 

// <-- HTML -->
// <main class="page page__home">
// 	<section class="page__main-block"></section>
// </main>
// <-- / HTML -->

// <-- CSS -->
// .page {

// 	&__home {
// 	}

// 	&__main-block {
// 	}
// }
// <-- / CSS -->